doctype html
html
	head
	body
		h1 Fill this form 
			form(method='post' action='/forminfo')
				label(for='fname') First Name:
				input(type='text', placeholder='John, Mary etc.' name='fname')
				label(for='lname') Last Name:
				input#name.form-control(type='text', placeholder='Smoth, van Cool etc.' name='lname')
				label(for='email') Email:
				input#name.form-control(type='email', placeholder='vanCool@cool.net etc.' name='email')
				button.btn.btn-primary(type='submit') Submit
	br
			
	a(href='/') ALL USERS
	|
	|

	br
	br

	a(href='/search') SEARCH
	|
	|	