doctype html
html
	head
	body
		h1 Results:
		br
		if Users 
			p We found who you were looking for!  It's #{Users.firstname} #{Users.lastname}
		else
			p No match found! Sorry, try again. 

	br
			
	a(href='/') ALL USERS
	|
	|

	br
	br

	a(href='/search') SEARCH
	|
	|
	
	br
	br
		
	a(href='/form') SUBSCRIPTION
	|
	|		